<div class="container-fluid">

  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Boas vindas!</h1>
          <h5 class="fs-18">Expresse aqui seus pensamentos e opiniões.</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mt-2 mr-2" data-toggle="modal" data-target="#nova-publicacao">Nova publicacao</button>
          <a class="btn btn-outline-light mt-2" href="#publicacoes">Ver publicacoes</a>
        </div>
      </div>

    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/H88yIo2.png" alt="" width="500px" height="500px">
    </div>
  </div>

</div>

<div class="container mb-5 mt-5" id="publicacoes">

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link text-secondary font-weight-bold active" id="nav-todas-as-publicacoes-tab" data-toggle="tab" href="#todas-as-publicacoes" role="tab" aria-controls="nav-todas-as-publicacoes" aria-selected="true">Todas as publicacoes</a>

      <a (click)="findByIdUsuario()" class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhas-publicacoes-tab" data-toggle="tab" href="#minhas-publicacoes" role="tab" aria-controls="nav-minhas-publicacoes" aria-selected="false">Minhas publicacoes</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-publicacoes-por-tema-tab" data-toggle="tab" href="#publicacoes-por-tema" role="tab" aria-controls="nav-publicacoes-por-tema" aria-selected="false">Publicacoes por tema</a>

    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">

    <div class="tab-pane fade show active" id="todas-as-publicacoes" role="tabpanel" aria-labelledby="nav-todas-as-publicacoes-tab">

      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="tituloPublicacao" placeholder="Busque por título" [(ngModel)]="tituloPublicacao" (keyup)="findByTituloPublicacao()">
          </div>
        </div>
      </div>

      <div class="card-columns">
        <div class="card text-center"
        *ngFor="let publicacao of listaPublicacoes | orderBy: key : reverse">
          <div class="card-body">
            <h5 class="card-title m-0">{{publicacao.titulo}}</h5>
            <p class="card-text">
              <small class="text-muted">
                Tema: {{publicacao.tema.descricao}}
              </small>
            </p>
            <p class="card-text">{{publicacao.texto}}</p>
            <p class="card-text m-0">
              <small class="text-muted">
                Publicado por {{publicacao.usuario.nome}}
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                em {{publicacao.data | date: "dd/MM/yyyy"}} às {{publicacao.data | date: "HH:mm"}}
              </small>
            </p>

            <div class="card text-center">
            <h6 class="card-title m-0">Comentários</h6>
              <div *ngFor="let comentario of publicacao.comentario | orderBy: key : reverse">
                <p class="card-text m-0">{{comentario.texto}}</p>
                <p class="card-text">
                  <small class="text-muted">
                    por {{comentario.usuario.nome}} em {{comentario.data | date: "dd/MM/yyyy"}} às {{comentario.data | date: "HH:mm"}}
                  </small>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="minhas-publicacoes" role="tabpanel" aria-labelledby="nav-minhas-publicacoes-tab">

      <div class="card-columns">
        <div class="card text-center"
        *ngFor="let publicacao of usuario.publicacao | orderBy: key : reverse">
          <div class="card-body">
            <h5 class="card-title m-0">{{publicacao.titulo}}</h5>
            <p class="card-text">
              <small class="text-muted">
                Tema: {{publicacao.tema.descricao}}
              </small>
            </p>
            <p class="card-text">{{publicacao.texto}}</p>
            <p class="card-text m-0">
              <small class="text-muted">
                Publicado por {{usuario.nome}}
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                em {{publicacao.data | date: "dd/MM/yyyy"}} às {{publicacao.data | date: "HH:mm"}}
              </small>
            </p>

            <a [routerLink]="['/publicacao-edit', publicacao.id]" class="text-info mr-3" href="">Editar</a>
            <a [routerLink]="['/publicacao-delete', publicacao.id]" class="text-danger" href="">Apagar</a>

          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="publicacoes-por-tema" role="tabpanel" aria-labelledby="nav-publicacoes-por-tema-tab">

      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" id="nomeTema" placeholder="Busque por tema" [(ngModel)]="nomeTema" (keyup)="findByNomeTema()">
          </div>
        </div>
      </div>

      <div class="card-columns" *ngFor="let tema of listaTemas">
        <div class="card text-center"
        *ngFor="let publicacao of tema.publicacao | orderBy: key : reverse">
          <div class="card-body">
            <h5 class="card-title m-0">{{publicacao.titulo}}</h5>
            <p class="card-text">
              <small class="text-muted">
                Tema: {{tema.descricao}}
              </small>
            </p>
            <p class="card-text">{{publicacao.texto}}</p>
            <p class="card-text m-0">
              <small class="text-muted">
                Publicado por {{publicacao.usuario.nome}}
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted">
                em {{publicacao.data | date: "dd/MM/yyyy"}} às {{publicacao.data | date: "HH:mm"}}
              </small>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="nova-publicacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova publicacao</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]="publicacao.titulo" type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]="publicacao.texto" name="texto" id="texto" rows="3" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a>:</label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]="idTema" (change)="findByIdTema()">
            <option *ngFor="let tema of listaTemas" value="{{tema.id}}">
              {{tema.descricao}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="publicar()">Publicar</button>
      </div>
    </div>
  </div>
</div>
